.newHeaderWebOn .submit {
  background-color: #f6731c !important;
}

.post__content .buy_button {
  color: #f6731c !important;
  border-color: #f6731c !important;
}

.swal2-styled.swal2-confirm {
  border-color: #f6731c !important;
  background-color: #f6731c !important;
}

.auth-main__btn {
  background-color: #f6731c !important;
}

.auth-main__btn:hover {
  background-color: #FF7247 !important;
}

.submit___3cAJx {
  background-color: #f6731c !important;
}

.submit___3cAJx:hover {
  background-color: #FF7247 !important;
}

.simpleregister_layout .nf-btn-solid.nf-btn-primary, .simpleregister_layout .nf-btn-twotone.nf-btn-primary {
  background-color: #f6731c !important;
}

.account .btn-primary {
  background-color: #f6731c !important;
}

.post__content .lnVyLn {
  color: #f6731c !important;
  background-color: rgba(255, 78, 21, 0.1) !important;
}

.post__content .lnVyLn:hover {

  background-color: rgba(255, 78, 21, 0.3) !important;
}

.Item__Col-hg8vs9-0.Item__Col5-hg8vs9-5.RNOEi {
  color: #f6731c !important;
}

.mainProducts .inner .controls .button, .mainProducts .inner .controls .loadingButton, .posts_category .inner .controls .button {
  color: #f6731c !important;
  border-color: #f6731c !important;
}

.mainProducts .inner .controls .button:hover, .mainProducts .inner .controls .loadingButton:hover, .posts_category .inner .controls .button:hover {
  color: #FF7247 !important;
  border-color: #FF7247 !important;
}

.dark___1HvbV {
  background-color: #f6731c !important;
}

.btn-primary {
  background-color: #f6731c !important;
  border-color: #f6731c !important;
}

.btn-primary:hover {
  border-color: #FF7247 !important;
  background-color: #FF7247 !important;
}

.about_page .button___1WAua {
  background-color: #f6731c !important;
}

.about_page .b-btn_green {
  background-image: linear-gradient(to bottom, #f6731c, #FF7247);
}

.notice-popup .button {
  background-color: #f6731c !important;
  border-color: #f6731c !important;
}

.registration .button, .registration .loadingButton {
  background-color: #f6731c !important;
  border-color: #f6731c !important;
}

.__GL__loader > div {
  background-color: #f6731c !important;
}

.post__content .gEzaAL {
  color: #f6731c !important;
}

.information {
  display: block;
  margin-top: 12px;

  position: relative;
}

.information > i {
  color: #f6731c;
}

.hidden-information {
  display: none;

  position: absolute;
  background: #fff;
  color: rgba(0, 0, 0, 1.00);
  padding: 10px 15px;
  bottom: 100%;
  left: 0;
  z-index: 99;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
  width: 250px;
}

.information:hover > .hidden-information {
  display: block;
}

@media(max-width: 600px) {
  .only-desktop {
    display: none;
  }
  .webshop-showbasket .pricetable .col-md-4.big-table-str {
    width: 67% !important;
  }
}

.successMessage {
  &__container {
    border-radius: 1rem;
  }

  &__container > .background___3x0Ip {
    border-radius: 1rem 1rem 0 0;
  }

  &__container .text___pv4Hk {
    max-width: 100% !important;
  }
}

@media(max-width: 600px) {
  .cblock-new .buy-block .price.small {
    font-size: 14px;
  }
  .margin-set-15-mob {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media(min-width: 600px){
  .fix-mg-left{
    margin-left: 10px!important;
  }
}

.margin-0-fix{
  margin: 0!important;
}

.content___3QzDJ {
  margin-top: 12px;
}

@media (min-width: 768px) {
  .content___3QzDJ {
    margin-top: 16px;
  }
}

.message___3bJnH {
  margin-right: auto;
  margin-left: auto;
  padding-left: 6px;
  padding-right: 6px;
}

@media (min-width: 576px) {
  .message___3bJnH {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (min-width: 768px) {
  .message___3bJnH {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 992px) {
  .message___3bJnH {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 1300px) {
  .message___3bJnH {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.asPage___2KVF5 {
  margin-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .asPage___2KVF5 {
    margin-top: 64px;
  }
}

@media (min-width: 768px) {
  .asPage___2KVF5 {
    padding-bottom: 64px;
  }
}

.content___uhQNg {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;
}

@media (min-width: 576px) {
  .content___uhQNg {
    margin-right: -6px;
    margin-left: -6px;
  }
}

@media (min-width: 768px) {
  .content___uhQNg {
    margin-right: -8px;
    margin-left: -8px;
  }
}

@media (min-width: 992px) {
  .content___uhQNg {
    margin-right: -8px;
    margin-left: -8px;
  }
}

@media (min-width: 1300px) {
  .content___uhQNg {
    margin-right: -8px;
    margin-left: -8px;
  }
}

.inner___27ZuH {
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-right: 6px;
  padding-left: 6px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .inner___27ZuH {
    padding-right: 6px;
    padding-left: 6px;
  }
}

@media (min-width: 768px) {
  .inner___27ZuH {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (min-width: 992px) {
  .inner___27ZuH {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (min-width: 1300px) {
  .inner___27ZuH {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.image___2CgRW {
  margin: 0 auto;
  max-width: 90%;
  position: relative;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .image___2CgRW {
    margin-bottom: 32px;
  }
}
.illustration___2hS21 {
  max-width: 100%;
}

.title___11uZU {
  font-size: 1.3333rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 80%;
  position: relative;
  width: 30rem;
}

@media (max-width: 767.9px) {
  .title___11uZU {
    font-size: 1.2rem;
    width: 20rem;
  }
}

.text___p4ZtW {
  font-size: 1.1111rem;
  line-height: 1.4;
  margin: 0.6666rem auto 0;
  max-width: 80%;
  position: relative;
  width: 30rem;
}

@media (max-width: 767.9px) {
  .text___p4ZtW {
    font-size: 1rem;
    width: 20rem;
  }
}
